# SPDX-License-Identifier: LicenseRef-PolyForm-Noncommercial-1.0.0
* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.whl binary
*.zip binary
installers/wheels/** linguist-vendored
npm/package-lock.json linguist-generated
SBOM.cdx.json linguist-generated
